.marker-icon { display: inline-block; width: 24px; height: 16px; line-height: 1; background-position: center; background-size: contain; background-repeat: no-repeat; }
.marker-icon.marker-icon-analyzer2sdata { background-image: url(../images/markers/analyzer2sdata.png); }
.marker-icon.marker-icon-analyzerinputdata { background-image: url(../images/markers/analyzerinputdata.png); }
.marker-icon.marker-icon-analyzeroutputdata { background-image: url(../images/markers/analyzeroutputdata.png); }
.marker-icon.marker-icon-analyzer2sdatapending { background-image: url(../images/markers/analyzer2sdatapending.png); }
.marker-icon.marker-icon-analyzerinputdatapending { background-image: url(../images/markers/analyzerinputdatapending.png); }
.marker-icon.marker-icon-analyzeroutputdatapending { background-image: url(../images/markers/analyzeroutputdatapending.png); }
.marker-icon.marker-icon-bustieinstant { background-image: url(../images/markers/bustieinstant.png); }
.marker-icon.marker-icon-bustiememory { background-image: url(../images/markers/bustiememory.png); }
.marker-icon.marker-icon-bypass { background-image: url(../images/markers/bypass.png); }
.marker-icon.marker-icon-bypassemergencyrequestinstant { background-image: url(../images/markers/bypassemergencyrequestinstant.png); }
.marker-icon.marker-icon-bypassemergencyrequestmemory { background-image: url(../images/markers/bypassemergencyrequestmemory.png); }
.marker-icon.marker-icon-cm0instantfailure { background-image: url(../images/markers/cm0instantfailure.png); }
.marker-icon.marker-icon-cm0operation { background-image: url(../images/markers/cm0operation.png); }
.marker-icon.marker-icon-cm0vac230starcenter { background-image: url(../images/markers/cm0vac230starcenter.png); }
.marker-icon.marker-icon-connectioninbound { background-image: url(../images/markers/connectioninbound.png); }
.marker-icon.marker-icon-connectiononoff { background-image: url(../images/markers/connectiononoff.png); }
.marker-icon.marker-icon-connectionoutbound { background-image: url(../images/markers/connectionoutbound.png); }
.marker-icon.marker-icon-cpbinstant { background-image: url(../images/markers/cpbinstant.png); }
.marker-icon.marker-icon-cpblife { background-image: url(../images/markers/cpblife.png); }
.marker-icon.marker-icon-generatorinstant { background-image: url(../images/markers/generatorinstant.png); }
.marker-icon.marker-icon-generatormemory { background-image: url(../images/markers/generatormemory.png); }
.marker-icon.marker-icon-km13armederror { background-image: url(../images/markers/km13armederror.png); }
.marker-icon.marker-icon-kmlevel1234setup { background-image: url(../images/markers/kmlevel1234setup.png); }
.marker-icon.marker-icon-kmlevel1instant { background-image: url(../images/markers/kmlevel1instant.png); }
.marker-icon.marker-icon-nowdata { background-image: url(../images/markers/nowdata.png); }
.marker-icon.marker-icon-nowdatapending { background-image: url(../images/markers/nowdatapending.png); }
.marker-icon.marker-icon-pbs { background-image: url(../images/markers/pbs.png); }
.marker-icon.marker-icon-permanentbypass { background-image: url(../images/markers/permanentbypass.png); }
.marker-icon.marker-icon-plc1pzmb1data { background-image: url(../images/markers/plc1pzmb1data.png); }
.marker-icon.marker-icon-plc1pzmb2data { background-image: url(../images/markers/plc1pzmb2data.png); }
.marker-icon.marker-icon-plc1pzmb3data { background-image: url(../images/markers/plc1pzmb3data.png); }
.marker-icon.marker-icon-plc1pzmb4data { background-image: url(../images/markers/plc1pzmb4data.png); }
.marker-icon.marker-icon-plc2pzmb1data { background-image: url(../images/markers/plc2pzmb1data.png); }
.marker-icon.marker-icon-plc2pzmb2data { background-image: url(../images/markers/plc2pzmb2data.png); }
.marker-icon.marker-icon-plc2pzmb3data { background-image: url(../images/markers/plc2pzmb3data.png); }
.marker-icon.marker-icon-plc2pzmb4data { background-image: url(../images/markers/plc2pzmb4data.png); }
.marker-icon.marker-icon-plc1pzmb1datapending { background-image: url(../images/markers/plc1pzmb1datapending.png); }
.marker-icon.marker-icon-plc1pzmb2datapending { background-image: url(../images/markers/plc1pzmb2datapending.png); }
.marker-icon.marker-icon-plc1pzmb3datapending { background-image: url(../images/markers/plc1pzmb3datapending.png); }
.marker-icon.marker-icon-plc1pzmb4datapending { background-image: url(../images/markers/plc1pzmb4datapending.png); }
.marker-icon.marker-icon-plc2pzmb1datapending { background-image: url(../images/markers/plc2pzmb1datapending.png); }
.marker-icon.marker-icon-plc2pzmb2datapending { background-image: url(../images/markers/plc2pzmb2datapending.png); }
.marker-icon.marker-icon-plc2pzmb3datapending { background-image: url(../images/markers/plc2pzmb3datapending.png); }
.marker-icon.marker-icon-plc2pzmb4datapending { background-image: url(../images/markers/plc2pzmb4datapending.png); }
.marker-icon.marker-icon-programming { background-image: url(../images/markers/programming.png); }
.marker-icon.marker-icon-qs3 { background-image: url(../images/markers/qs3.png); }
.marker-icon.marker-icon-qs4 { background-image: url(../images/markers/qs4.png); }
.marker-icon.marker-icon-saving { background-image: url(../images/markers/saving.png); }
.marker-icon.marker-icon-savingresetblock { background-image: url(../images/markers/savingresetblock.png); }
.marker-icon.marker-icon-th110 { background-image: url(../images/markers/th110.png); }
.marker-icon.marker-icon-th130 { background-image: url(../images/markers/th130.png); }
.marker-icon.marker-icon-thermalresetblock { background-image: url(../images/markers/thermalresetblock.png); }

.marker-icon.marker-icon-blue { background-image: url(../images/markers/blue.png); }
.marker-icon.marker-icon-ltblue { background-image: url(../images/markers/ltblue.png); }
.marker-icon.marker-icon-green { background-image: url(../images/markers/green.png); }
.marker-icon.marker-icon-orange { background-image: url(../images/markers/orange.png); }
.marker-icon.marker-icon-pink { background-image: url(../images/markers/pink.png); }
.marker-icon.marker-icon-purple { background-image: url(../images/markers/purple.png); }
.marker-icon.marker-icon-red { background-image: url(../images/markers/red.png); }
.marker-icon.marker-icon-yellow { background-image: url(../images/markers/yellow.png); }
